@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#dashboard-sidebar {
  min-width: 260px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding-top: 40px;
  padding: 0 32px;
  border-right-width: 1px;
  border-right-color: #0b1f3f33;
  position: relative;
}

@keyframes to-absolute {
  to {
    position: absolute;
  }
}

@media only screen and (min-width: 768px) {
  #dashboard-sidebar.collapsed {
    min-width: 0;
    position: relative;
  }
  /* #dashboard-sidebar.collapsed .hide-on-collapse {
    opacity: 0;
    pointer-events: none;
    animation: to-absolute;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  } */
}

#dashboard-layout {
  display: grid;
  grid-template: var(--viewport-height, 100vh) / 80px max-content 1fr;
  grid-template-rows: var(--viewport-height, 100vh);
  grid-template-columns: 80px max-content 1fr;
  overflow: hidden;
  background: white;
  position: relative;
}

#sidebar-container {
  border-right: 1px solid rgb(230 231 236 / 60%);
  background: #fafbfc;
  z-index: 20;
  transition: all 0.2s ease-in-out;
  position: absolute;
  height: var(--viewport-height, 100vh);
  top: 0;
  left: 0;
  transform: translateX(-100%);
  @media only screen and (min-width: 768px) {
    position: relative;
    transform: translateX(0%);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}

#sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#main-content {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  @media only screen and (min-width: 768px) {
    grid-column: 3 / -1;
  }
}

#dashboard-layout.collapsed {
  #sidebar-overlay {
    pointer-events: all;
    opacity: 1;
  }
  #sidebar-container {
    transform: translateX(0%);
  }
  @media only screen and (min-width: 768px) {
    #sidebar-overlay {
      display: none;
    }
    #sidebar-container {
      overflow: hidden;
      grid-column-end: 2;
      &:hover {
        grid-column-end: 3;
        box-shadow: 3px 0px 5px rgb(185 185 185 / 60%);
      }
    }
    #main-content {
      grid-column-start: 2;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  /* border-radius: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  background: #1b1464;
}

.link-item {
  color: #0b1f3f;
  font-weight: 400;
  display: flex;

  align-items: center;
  padding-left: 8px;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.link-item span {
  color: #0b1f3f;
  font-weight: 400;
}

/* .link-item:hover {
padding: 15px;
background: #fff4e6;
color: #ffffff;
} */

.link-item-active {
  display: flex;
  align-items: center;
  background-color: #ffd009cf;
  color: #0b1f3f;
  padding: 15px;
  border-radius: 8px;
  font-weight: 400;
  transition: all 0.3s ease-out;
  text-decoration: none;
  width: 170px;
}

.link-item-active span {
  color: #000;
  font-weight: 500;
}

.svg-active {
  color: #000;
}

.link-item__child {
  color: #000000 !important;
  font-weight: 500;
}

.link-item__child-active {
  color: #3d02e6 !important;
  font-weight: 500;
}

.shadow-card {
  box-shadow: 0px 24px 24px rgba(231, 215, 160, 0.15);
  border-radius: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
